name: Daily IPO Reports
on:
 workflow_dispatch:

 
jobs:
  SendDailyReport:
   runs-on: ubuntu-latest
   
   steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
          python-version: '3.12'

    - name: Install dependencies
      run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

    - name: Run script
      run: python DailyReports.py
      env:
         SENDER: ${{secrets.SENDER}}
         BREVO_API: ${{secrets.BREVO_API}}
         URLS: ${{secrets.URLS}}
         GEMINI_API_KEY: ${{secrets.GEMINI_API_KEY}}
         cache: ${{secrets.cache}}
